/*
Theme Name: CM Truck Beds
Theme URI: http://cmtruckbeds.com/
Version: 4.0
Description: The 4th edition of the CM Truck Bed's theme.
Author: Big Tex Trailers Marketing Team
Author URI: http://bigtextrailers.com/
*/
/*

*/
/*--------------------------------------------------GLOBAL---------------------------------------------------*/
<<<<<<< HEAD
=======
html{-ms-overflow-style: scrollbar;}
>>>>>>> origin/HEAD
#_atssh{display:none;}
iframe{border:none;}
.uppercase{text-transform:uppercase;}
.rightuppercase{
	text-align:right;
	text-transform:uppercase;
}
.leftuppercase{
	text-align:left;
	text-transform:uppercase;
}
.centeruppercase{
	text-align:center;
	text-transform:uppercase;
}
.aligncenter,
div.aligncenter{
	display:block;
	margin:5px auto;
}
.alignright{
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft{
	float:left;
	margin:5px 20px 20px 0;
}
.aligncenter{
	display:block;
	margin:5px auto;
}
a img.alignright{
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone{margin:5px 20px 20px 0;}
a img.alignleft{
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter{
	display:block;
	margin-left:auto;
	margin-right:auto
}
#slider.carousel .item{
	-webkit-transition:opacity 4s; 
	-moz-transition:opacity 4s; 
	-ms-transition:opacity 4s; 
	-o-transition:opacity 4s; 
	transition:opacity 4s;
}
#slider.carousel .active.left{
	left:0;
	opacity:0;
	z-index:2;
}
#slider.carousel .next{
	left:0;
	opacity:1;
	z-index:1;
}
.nav.navbar-nav.bt{margin:0;}
.imgReplace{
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	white-space:nowrap;
}
input:focus:invalid, 
textarea:focus:invalid, 
select:focus:invalid{
	border-color:#EE5F5B;
	color:#B94A48;
}
input:focus:invalid:focus, 
textarea:focus:invalid:focus, 
select:focus:invalid:focus{
	border-color:#E9322D;
	box-shadow:0 0 6px #F8B9B7;
}
form br{display:none;}
.required{
	color:#F00;
	font-weight:700;
}
aside section{margin-bottom:20px;}
aside section:last-child{margin:0;}
.go-top{
	background-color:rgba(0, 0, 0, 0.3);
	bottom:2em;
	border:2px solid #DC0101;
	border-radius:6px;
	color:white;
	display:none;
	font-size:12px;
	padding:1em;
	position:fixed;
	right:2em;
	text-decoration:none;	
	z-index:1;
}
.go-top:hover{background-color:rgba(0, 0, 0, 0.6);}
.btn-lg.btn-ghost{
	border-color:#FFF;
	border-radius:0;
	border-width:3px;
	font-weight:700;
}
.btn-ghost{
	background-color:transparent;
	background-image:none;
	color:#FFF;
	text-transform:uppercase;
}
.btn-lg.btn-ghost:hover,
.btn-lg.btn-ghost:active{color:#DC0101;}
.btn.btn-alt{
	background:#000;
	border:2px solid #FFF;
	color:#FFF;
}
.btn.btn-alt:hover,
.btn.btn-alt:active{
	background:#9C0101;
	color:#FFF;
}
.panel p{margin:0;}
.bt .dropdown-menu>li>a{padding:5px 20px;}
.light a{color:#FFF;}
.light a:hover,
.light a:focus{color:#EBEBEB;}
.row-eq-height{display:flex;}
<<<<<<< HEAD
=======
.nfrUp{
	background-image: url(/wp-content/uploads/2016/07/nfr_bg.jpg);
	background-size:cover;
}
.nfrFeat{
	margin:20px 0 10px 0;
}
.nfrLow{}
.nfrAbout{
	margin: 20px 0 20px 0;
}
.nfrBull{
	margin-bottom:10px;
}
>>>>>>> origin/HEAD
/*--------------------------------------------------GRAVITY FORMS--------------------------------------------*/
.page .gform_wrapper{width:100%;}
.page .gform_heading{display:none;}
.page .gform_wrapper .gfield_required{
	color:#F00;
	font-weight:700;
}
.gform_wrapper{
	background:#111;
	border:2px solid #676767;
	border-radius:4px;
	padding:20px;
}
.hidden_label > label{display:none;}
.ginput_complex .ginput_full,
.ginput_complex .ginput_left,
.ginput_complex .ginput_right{
	display:block;
	margin-bottom:15px;
}
.gfield_radio label{margin-left:5px;}
.ui-datepicker{
	background:#fff;
	border:1px solid #666;
	border-radius:4px;
}
.ui-datepicker-header{
	background-color:#999;
	padding:5px;
}
.ui-datepicker-header a{
	color:#FFF;
	cursor:pointer;
	text-decoration:underline;
}
.ui-datepicker-header a:hover,
.ui-datepicker-header a:focus{
	color:#F2F2F2;
	cursor:pointer;
}
.ui-datepicker-next,
.ui-datepicker-year{float:right;}
.ui-datepicker th,
.ui-datepicker td{text-align:center;}
.ui-datepicker table > tbody > tr:nth-child(2n+1) > td, 
.ui-datepicker table > tbody > tr:nth-child(2n+1) > th{background-color:#f9f9f9;}
.ui-datepicker table > tbody > tr > td, .table > tbody > tr > th, 
.ui-datepicker table > tfoot > tr > td, .table > tfoot > tr > th, 
.ui-datepicker table > thead > tr > td, .table > thead > tr > th{
	border-top:1px solid #ddd;
	line-height:1.42857;
	padding:5px;
	vertical-align:top;
}
.ui-datepicker table, 
.ui-datepicker table > tbody > tr > td, 
.ui-datepicker table > tbody > tr > th, 
.ui-datepicker table > tfoot > tr > td, 
.ui-datepicker table > tfoot > tr > th, 
.ui-datepicker table > thead > tr > td, 
.ui-datepicker table > thead > tr > th{border:1px solid #ddd;}
.ui-datepicker-month,
.ui-datepicker-year{color:#333;}
input[type="radio"], 
input[type="checkbox"]{float:left;}
#choice_7_16_5{margin-right:5px;}
#input_7_16_other{width:97%;}
#input_7_2_3_container{
	display:block;
	margin-bottom:15px;
}
.gform_wrapper ul{
	padding-left:0; 
	list-style:none 
}
.gform_wrapper li{margin-bottom:15px;}
.gform_wrapper form {margin-bottom:0;}
.gform_wrapper .gfield_required{
	padding-left:1px; 
	color:#b94a48;
}
.ginput_container input[type="text"], 
.ginput_container select, 
.ginput_container textarea,
.ginput_container input[type="email"],
.ginput_container input[type="tel"]{
	background-color:#fff; 
	border:1px solid #ccc; 
	border-radius:4px;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075); 
	color:#555; 
	display:block;
	font-size:14px;
	height:34px; 
	line-height:1.428571429;
	padding:6px 12px; 
	transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	width:100%; 
	vertical-align:middle; 
}
.ginput_container input[type="checkbox"]{margin-right:5px;}
.ginput_container input:-moz-placeholder, 
.ginput_container select:-moz-placeholder, 
.ginput_container textarea:-moz-placeholder{color:#999}
.ginput_container input::-moz-placeholder, 
.ginput_container select::-moz-placeholder, 
.ginput_container textarea::-moz-placeholder{color:#999}
.ginput_container input:-ms-input-placeholder, 
.ginput_container select:-ms-input-placeholder, 
.ginput_container textarea:-ms-input-placeholder{color:#999}
.ginput_container input::-webkit-input-placeholder, 
.ginput_container select::-webkit-input-placeholder, 
.ginput_container textarea::-webkit-input-placeholder{color:#999}
.ginput_container input:focus, 
.ginput_container select:focus, 
.ginput_container textarea:focus{ 
	border-color:#66afe9;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
	outline:0; 
}
.ginput_container input[disabled], 
.ginput_container select[disabled], 
.ginput_container textarea[disabled], 
.ginput_container input[readonly], 
.ginput_container select[readonly], 
.ginput_container textarea[readonly], 
fieldset[disabled] .ginput_container input, 
fieldset[disabled] .ginput_container select, 
fieldset[disabled] .ginput_container textarea{
	background-color:#eee; 
	cursor:not-allowed;
}
textarea.ginput_container input, 
textarea.ginput_container select, 
textarea.ginput_container textarea{height:auto;}
.ginput_container textarea{height:auto;}
.gform_wrapper .gfield_error .gfield_label{color:#b94a48;}
.gform_wrapper .gfield_error input, 
.gform_wrapper .gfield_error select, 
.gform_wrapper .gfield_error textarea{ 
	background-color:#f2dede; 
	border-color:#eed3d7;
	color:#b94a48; 
}
.gform_wrapper .gfield_error input:focus, 
.gform_wrapper .gfield_error select:focus, 
.gform_wrapper .gfield_error textarea:focus{ 
	border-color:#b94a48; 
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(185,74,72,0.6);
	outline:0; 
}
.validation_error{ 
	background-color:#f2dede; 
	border:1px solid transparent; 
	border-color:#eed3d7; 
	border-radius:4px;
	color:#b94a48; 
	margin-bottom:20px; 
	padding:15px; 
}
.validation_error h4{ 
	color:inherit;
	margin-top:0; 
}
.validation_error .alert-link {font-weight: bold;}
.validation_error>p, .validation_error>ul{margin-bottom:0;}
.validation_error>p+p{margin-top:5px;}
.validation_error hr{border-top-color:#e6c1c7}
.validation_error .alert-link{color:#953b39}
#gforms_confirmation_message{ 
	border:1px solid transparent; 
	border-radius:4px;
	margin-bottom:20px; 
	padding:15px; 
}
#gforms_confirmation_message h4{ 
	color:inherit;
	margin-top:0;
}
#gforms_confirmation_message .alert-link{font-weight: bold;}
#gforms_confirmation_message>p, #gforms_confirmation_message>ul{margin-bottom:0;}
#gforms_confirmation_message>p+p{margin-top:5px;}
.gfield_label{
	font-size:14px;
	margin-bottom:5px; 
}
.gform_validation_container,
.gform_wrapper .gform_validation_container,
body .gform_wrapper li.gform_validation_container,
body .gform_wrapper .gform_body ul.gform_fields li.gfield.gform_validation_container,
body .gform_wrapper ul.gform_fields li.gfield.gform_validation_container{
	display:none!important;
	left:-9000px;
	position:absolute!important;  
}
.button.gv-search-button,
.gv-search-box input{color:#000;}
.gform_drop_area{
	border:1px solid #FFF;
	padding:15px;
}
.gform_button_select_files{color:#000;}
/*--------------------------------------------------FORMSTACK------------------------------------------------*/
.fsBody .fsForm .fsPage .fsSectionHeader{background-color:transparent;}
.fsBody.fsEmbed .fsForm{background-color:transparent;}
.fsboxshadow .fsBody.fsEmbed .fsForm{box-shadow:none;}
.fsBody.fsEmbed{
	color:inherit;
	font:inherit;
}
.fsborderradius .fsBody.fsEmbed .fsSectionHeader{margin:0;}
.fsBody.fsEmbed .fsSectionHeader{background-color:transparent;}
.fsBody.fsEmbed .fsSubField{
	margin-right:2%;
	width:49%;
}
.fsBody.fsEmbed .fsSubField:nth-child(2){margin-right:0;}
.fsBody.fsEmbed .fsForm .fsSubmit{background-color:transparent;}
.fsBody.fsEmbed .fsSubmit input.fsSubmitButton{padding:10px 16px;}
.fsBody.fsEmbed .fsFieldRow input[type="email"], 
.fsBody.fsEmbed .fsFieldRow input[type="number"], 
.fsBody.fsEmbed .fsFieldRow input[type="tel"], 
.fsBody.fsEmbed .fsFieldRow input[type="text"], 
.fsBody.fsEmbed .fsForm textarea,
.fsBody.fsEmbed .fsForm select{
	background-color:#fff; 
	border:1px solid #ccc; 
	border-radius:4px;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	color:#555;
	font-size:14px;
	height:34px; 
	line-height:1.428571429;
	max-width:100%; 
	padding:6px 12px; 
	transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	vertical-align:middle; 
	width:100%;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);  
	-webkit-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.fsBody.fsEmbed .fsForm .fsRowBody{border:1px solid rgba(0,0,0,0.00);}
.fsBody.fsEmbed .fsForm .fsFieldFocused{border:1px dotted #676767;}
.fsBody.fsEmbed .fsForm #fsPage2273949-1 .fsFieldFocused{border:1px dotted #f00;}
.fsBody.fsEmbed .fsForm .fsSectionHeading,
.fsBody.fsEmbed .fsForm .fsSectionText{font-family:inherit;}
.fsBody.fsEmbed textarea.fsField{height:auto;}
.fsBody.fsEmbed .fsLabel.fsRequiredLabel,
.fsBody.fsEmbed .fsLabel,
.fsBody.fsEmbed .fsForm .fsLabel, 
.fsBody.fsEmbed .fsForm .fsOptionLabel, 
.fsBody.fsEmbed .fsForm .fsMatrix th, 
.fsBody.fsEmbed .fsForm .fsMatrixLabel{
	color:#FFF;
	font-family:inherit;
}
.fsBody.fsEmbed #fsPage2273949-1 .fsSupporting.fsRequiredLabel,
.fsBody.fsEmbed #ffsPage2273949-1 .fsForm .fsSupporting{color:#333;}
.fsBody.fsEmbed #fsPage2273949-1 .fsLabel{color:#000;}
.fsBody.fsEmbed .fsSupporting.fsRequiredLabel,
.fsBody.fsEmbed .fsForm .fsSupporting{color:#EBEBEB;}
.fsBody.fsEmbed .fsLabel.fsRequiredLabel .fsRequiredMarker{color:#f00;}
<<<<<<< HEAD
#fsForm2273941{background-color:#000;}
#fsSubmit2273941{padding:0 0 10px 0;}
=======
#fsCell39848348 .fsFieldHorizontal{width:100%}
#fsForm2273941{margin:0;}
#fsSubmit2273941{
	margin:0;
	padding:0 15px;
}
/*#fsForm2273941{background-color:transparent;}
#fsForm2273941 .fsSection.fs1Col .fsFieldRow input[type="email"], 
#fsForm2273941 .fsSection.fs1Col .fsFieldRow input[type="number"], 
#fsForm2273941 .fsSection.fs1Col .fsFieldRow input[type="tel"], 
#fsForm2273941 .fsSection.fs1Col .fsFieldRow input[type="text"], 
#fsForm2273941 .fsSection.fs1Col .fsForm textarea, 
#fsForm2273941 .fsSection.fs1Col .fsForm select{}
.fsBody #fsForm2273941 .fsForm .fsCell{padding:0;}
#label39848348,
#field39848348,
#fsSubmit2273941{
	float:left;
	margin-left:15px;
}
#label39848348{
	padding-top:5px;
	width:12%;
}
#field39848348{width:58.3333%;}
#fsSubmit2273941{
	margin:-18px 0 0 15px;
	width:25%;
}*/
>>>>>>> origin/HEAD
/*--------------------------------------------------HOMEPAGE-------------------------------------------------*/
.top{width:100%;}
#headSlider{
	border-bottom:6px solid #D50101;
	left:0;
	position:absolute;
	top:0;
	width:100%;
	z-index:0;
}
#navBG{
	background:url(images/navBG.png) repeat-x;
	height:128px;
  position:absolute;
	top:0;
  width:100%;
  z-index:399;
}
.home .navbar-default.cm{
	background-color:transparent;
	background-image:none;
	border:none;
	box-shadow:none;
	position:absolute;
	top:64px;
	width:100%;
	z-index:600;
}
.home .navbar-default.cm .navbar-brand img{margin-top:-62px;}
.home .navbar-nav.cm{
	position:absolute;
	right:0;
}
.home .navbar-nav.bt > li > a,
.home .navbar-nav.cm > li > a{padding-top:21px;}
.home .navbar-default.bt .dropdown-menu,
.home .navbar-default.cm .dropdown-menu{
	left:auto;
  right:0;
}
#mainNav{
	margin:0 auto;
	position:relative;
}
.homebuttons{margin-top:680px;}
#responsiveMenu{}
.connectboxhome{
	position:absolute;
	right:0;
	top:15px;
	z-index:401;
}
.container.bt,
.container.cm{position:relative;}
.bt .featuredButtons{
	position:absolute;
	bottom:20px;
	z-index:500;
}
.rev{border-bottom:6px solid #676767;}
.cm .featuredButtons{
	position:absolute;
	top:-80px;
<<<<<<< HEAD
	z-index:500;
}
.truckslider{margin-top:160px;}
=======
	width:100%;
	z-index:500;
}
.truckslider{margin-top:100px;}
>>>>>>> origin/HEAD
.truckslider{
	background: #000000;
	background: -moz-linear-gradient(top, #000000 0%, #000000 32%, #FFFFFF 32%, #FFFFFF 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(32%,#000000), color-stop(32%,#FFFFFF), color-stop(100%,#FFFFFF));
	background: -webkit-linear-gradient(top, #000000 0%,#000000 32%,#FFFFFF 32%,#FFFFFF 100%);
	background: -o-linear-gradient(top, #000000 0%,#000000 32%,#FFFFFF 32%,#FFFFFF 100%);
	background: -ms-linear-gradient(top, #000000 0%,#000000 32%,#FFFFFF 32%,#FFFFFF 100%);
	background: linear-gradient(to bottom, #000000 0%,#000000 32%,#FFFFFF 32%,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#FFFFFF',GradientType=0 );
	overflow:hidden;
}
#trailer .caption a{
	color:#FFF;
	font:italic 400 45px "Oswald",Helvetica,Arial,sans-serif;}
#trailer .caption a:hover,
#trailer .caption a:focus,
#trailer a.features:focus,
#trailer a.features:hover{text-decoration:none;}
#trailer a.features{
	color:#000;
	font-weight:700;
	text-transform:uppercase;
}
#trailer a.features img{display:inline-block;}
#trailer .standard{margin:30px 0 50px;}
.home .content{padding:15px 0;}
.home .content h1{margin-top:0;}
.home .embed-responsive{box-shadow:0px 5px 30px 0px rgba(209, 1, 1, 0.75);}
.home .btn-ghost{margin:20px 0;}
/*--------------------------------------------------PAGE-----------------------------------------------------*/
<<<<<<< HEAD
=======
.newsletter{
	border-bottom:2px solid #FFF;
	border-top:2px solid #FFF;
	padding:50px 0;
}
#breadcrumbs{
	background-color:#f0f0f0;
	border:1px solid #9F9F9F;
	border-radius:4px;
	color:#1d1d1d;
	margin:10px 0;
	padding:8px 15px;
}
.breadcrumb_last{color:#1d1d1d;}
.warrantyBtn{
	background:url(images/register_warranty_img.png) no-repeat;
	border-bottom:1px solid #F0F0F0;
	border-left:1px solid #F0F0F0;
	border-top:1px solid #F0F0F0;
	display:block;
	height:200px;
	overflow:hidden;
	position:fixed;
	right:0;
	text-indent:-9999px;
	top:200px;
	white-space:nowrap;
	width:40px;
	z-index:9000;	
}
>>>>>>> origin/HEAD
.huge{
	color:#FFF;
	display:block;
	font-size:180px;
	font-weight:700;
}
.top-text.lead{
	font-size:18px;
	margin-top:0;
}
.table.bt{margin-top:20px;}
.btn.bt{white-space:normal;}
.featuredButtons .button,
.truckbeds,
<<<<<<< HEAD
#dgd_scrollbox-1787{
=======
#dgd_scrollbox-1787,
.newsletter{
>>>>>>> origin/HEAD
	background:#2d2d2d;
	background:-moz-radial-gradient(center, ellipse cover, rgba(45,45,45,0.7) 0%, rgba(14,14,14,1) 100%), url(images/honeycomb2.png) repeat;
	background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(45,45,45,0.7)), color-stop(100%,rgba(14,14,14,1))), url(images/honeycomb2.png) repeat;
	background:-webkit-radial-gradient(center, ellipse cover, rgba(45,45,45,0.7) 0%,rgba(14,14,14,1) 100%), url(images/honeycomb2.png) repeat;
	background:-o-radial-gradient(center, ellipse cover, rgba(45,45,45,0.7) 0%,rgba(14,14,14,1) 100%), url(images/honeycomb2.png) repeat;
	background:-ms-radial-gradient(center, ellipse cover, rgba(45,45,45,0.7) 0%,rgba(14,14,14,1) 100%), url(images/honeycomb2.png) repeat;
	background:radial-gradient(ellipse at center, rgba(45,45,45,0.7) 0%,rgba(14,14,14,1) 100%), url(images/honeycomb2.png) repeat;
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#b32d2d2d', endColorstr='#0e0e0e',GradientType=1 ), url(images/honeycomb2.png) repeat;
}
.truckbeds{border-bottom:6px solid #676767;}
header{background:url(images/headerBG.png) repeat;}
.cm .nav > li > a,
.bt .nav > li > a{text-transform:uppercase;}
.navbar-default.bt{
	background:#000;
	clear:both;
	z-index:7000;
}
.navbar-default.bt .navbar-nav > li > a:hover,
.navbar-default.bt .navbar-nav > li > a:focus,
.navbar-default.bt .navbar-nav > .open > a, 
.navbar-default.bt .navbar-nav > .active > a,
.navbar-default.cm .navbar-nav > li > a:hover,
.navbar-default.cm .navbar-nav > li > a:focus,
.navbar-default.cm .navbar-nav > .open > a, 
.navbar-default.cm .navbar-nav > .active > a{
	box-shadow:0 3px 9px rgba(0, 0, 0, 0.4) inset;
	text-shadow:0px 3px 10px rgba(0,0,0,0.7);
}
.navbar-default.bt .navbar-collapse{border-top:none;}
.bt .navbar-brand{
	height:90px;
	padding:15px 10px;
}
.bt .navbar-toggle{margin-top:40px;}
.navbar-default.bt .navbar-brand img.large{margin-top:-58px;}
.navbar-default.bt .dropdown-menu{
	left:auto;
  right:0;
}
.content{padding:50px 0 20px;}
<<<<<<< HEAD
=======
.page-template-page-models .content{padding:10px 0 20px;}
.page-template-page-models #headingTwo{background-color:#CA0101;}
.page-template-page-models #headingTwo .panel-title{color:#FFF;}
>>>>>>> origin/HEAD
.nomargin{margin-top:0;}
.connectbox{
	background:#424242;
	background:-moz-linear-gradient(top, #424242 0%, #292929 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#424242), color-stop(100%,#292929));
	background:-webkit-linear-gradient(top, #424242 0%,#292929 100%);
	background:-o-linear-gradient(top, #424242 0%,#292929 100%);
	background:-ms-linear-gradient(top, #424242 0%,#292929 100%);
	background:linear-gradient(to bottom, #424242 0%,#292929 100%);
	border:1px solid #707070;
	border-radius:10px;
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#292929',GradientType=0 );
	padding:10px;
}
.connectbox{
	float:right;
	margin:15px 0;
}
.connectbox .connect{margin-left:34px;}
.connectbox .menu-social-container{margin:-25px 0 0 355px;}
.connectbox #menu-social-1,
.connectbox #menu-social{margin:0;}
.menu-social-container .list-inline > li{
	padding-left:0;
	padding-right:0;
}
.connectbox a.contact{color:#FFF;}
.connectbox a.contact:hover,
.connectbox a.contact:focus{
	color:#eaeaea;
	text-decoration:none;
}
.connectbox .nolink{display:none;}
.connectbox a .fa-square{color:#878787;}
.connectboxhome a .fa-stack-1x,
.connectbox a .fa-stack-1x,
footer a .fa-stack-1x,
footer a .fa-stack-2x{text-shadow:-3px 4px 2px rgba(0, 0, 0, 0.4);}
.connectbox .facebook a:hover .fa-square,
footer .facebook a{color:#3e579c;}
footer .facebook a:hover .fa-square{color:#324988;}
.connectbox .twitter a:hover .fa-square,
footer .twitter a{color:#479CD8;}
footer .twitter a:hover .fa-square{color:#3c8bc3;}
.connectbox .google a:hover .fa-square,
footer .google a{color:#C63B2B;}
footer .google a:hover .fa-square{color:#b13223;}
.connectbox .youtube a:hover .fa-square,
footer .youtube a{color:#b31217;}
footer .youtube a:hover .fa-square{color:#9f0e12;}
footer .facebook a:hover .fa-square,
footer .twitter a:hover .fa-square,
footer .google a:hover .fa-square,
footer .youtube a:hover .fa-square,
footer a:hover .fa-stack-1x{text-shadow:none;}
.featuredButtons h3{
	margin-top:0;
	text-align:center;
}
.featuredButtons p{font-weight:700;}
.featuredButtons h3,
.featuredButtons p{text-shadow:3px 4px 5px rgba(0, 0, 0, 0.6);}
.featuredButtons a{
	bottom:15px;
	color:#FFF;
	position:absolute;
	width:92%;
}
.featuredButtons a:hover,
.featuredButtons a:focus{
	color:#FFF;
	text-decoration:none;
}
.featuredButtons .button{
	border:2px solid #676767;
	border-radius:6px;
	box-shadow:inset 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
	display:block;
	position:relative;
}
#dgd_scrollbox-1787{
	border:2px solid #676767;
	border-radius:6px;
}
#label39848348{padding-bottom:5px;}
.navbg{background-color:#000;}
.model-disclaimer{margin-top:10px;}
.btn-primary.btn-lg{border-width:3px;}
.btn-primary.btn-lg{border-width:1px;}
.btn-primary.btn-lg,
.btn-primary.btn-sm{
	border-color:#D50101;
	border-radius:0;
	color:#D50101;
}
.btn-primary.btn-lg:hover,
.btn-primary.btn-lg:focus,
.btn-primary.btn-sm:hover,
.btn-primary.btn-sm:focus{
	background-color:#d5d1d1;
	border-color:#D50101;
	color:#D50101;
}
h3.underlined{
	display:inline-block;
	font-style:italic;
}
.underlined{border-bottom:3px solid #D50101;}
.buttons{
	background:url(images/line.jpg) center repeat-x;
	margin:15px 0;
}
.carousel-control.left.bt, 
.carousel-control.right.bt{background-image:none;}
.carousel-control .icon-prev, 
.carousel-control .icon-next, 
.carousel-control .fa.left, 
.carousel-control .fa.right{
	color:#969595;
	display:inline-block;
	position: absolute;
	top:27%;
	z-index:5;
}
.carousel-control .fa.right{margin-left:-30px;}
.carousel-control.bt{
	opacity:0.7;
	width:0;
}
.page .su-carousel-centered{margin-top:1.5em;}
.su-carousel .su-carousel-slide img:hover{
	background:#EE0206;
	border-color:#A10101;
}
.post.news{
	border-bottom:1px dotted #3F3F3F;
	margin:15px 0;
}
.post.news a,
.post.news a:hover,
.post.news a:focus,
li a.rsswidget,
li a.rsswidget:hover,
li a.rsswidget:focus{color:#FFF;}
.infoBox{
	background-color:#9f9f9f;
	color:#000;
	padding:25px 40px;
}
.infoBox h3{
	font-size:22px;
	font-weight:700;
}
.singletruckbed{
	background: #000000;
	background: -moz-linear-gradient(top, #000000 0%, #000000 40%, #EBEBEB 40%, #676767 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(40%,#000000), color-stop(40%,#EBEBEB), color-stop(100%,#676767));
	background: -webkit-linear-gradient(top, #000000 0%,#000000 40%,#EBEBEB 40%,#676767 100%);
	background: -o-linear-gradient(top, #000000 0%,#000000 40%,#EBEBEB 40%,#676767 100%);
	background: -ms-linear-gradient(top, #000000 0%,#000000 40%,#EBEBEB 40%,#676767 100%);
	background: linear-gradient(to bottom, #000000 0%,#000000 40%,#EBEBEB 40%,#676767 100%);
	color:#000;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#EBEBEB',GradientType=0 );
	padding:5px 20px;
	position:relative;
}
.singletruckbed h2 a,
h3.widgettitle a{color:#FFF;}
.singletruckbed h2 a:hover,
.singletruckbed h2 a:focus,
h3.widgettitle a:hover,
h3.widgettitle a:focus{
	color:#FFF;
	text-decoration:none;
}
aside{
	background:rgba(209, 209, 209, 0.1);
	padding:10px 8px;
}
h3.widgettitle{margin-top:0;}
.widget_rss{
	background:none repeat scroll 0 0 #000;
  margin-bottom:15px;
  padding:5px 15px;
}
.widget_rss ul{
	list-style:none;
	margin:0;
	padding:0;
}
.widget_rss li{margin-bottom:8px;}
li a.rsswidget{font-weight:900;}
.rss-date{
	color:#CCC;
	display:block;
	font-size:12px;
	font-style:italic;
}
footer{
	background:#292929;
	background:linear-gradient(to bottom, rgba(60,59,59,0.6) 0%,rgba(37,37,37,0.6) 100%), url(images/footerbg.jpg) repeat;
	padding:15px 0 45px;
}
footer .nolink a,
footer .nolink a:hover,
footer .nolink a:focus{
	color:#FFF;
	cursor:default;
	text-decoration:none;
}
footer h4.widgettitle{font-size:28px;}
footer .textwidget{font-size:22px;}
footer .widget_nav_menu ul{
	list-style:none;
	margin:10px 0;
	padding:0;
}
footer .widget_nav_menu a{
	color:#FFF;
	display:block;
	font-size:20px;
	padding:2px 0;
	text-transform:uppercase;
}
footer .info{margin-top:20px;}
#accordion{margin-top:15px;}
.panel-alt{border-color:#9f9f9f;}
.panel-alt > .panel-heading + .panel-collapse > .panel-body{border-top-color:#9f9f9f;}
.panel-alt .panel-body{
	background-color:#f0f0f0;
	color:#000;
	padding:25px;
}
.panel-alt .panel-title{
	color:#1d1d1d;
	cursor:pointer;
	font-size:22px;
}
.panel-alt .panel-title a:hover,
.panel-alt .panel-title a:focus{text-decoration:none;}
.panel-alt .panel-heading{
	background-color:#9f9f9f;
	border-color:#9f9f9f;
	padding:15px 25px;
}
.panel-group .panel-alt .panel-heading + .panel-collapse > .panel-body, 
.panel-group .panel-alt .panel-heading + .panel-collapse > .list-group{border-top:1px solid #9f9f9f;}
.panel-group .panel.panel-alt + .panel{margin-top:0;}
.panel-alt hr{border-color:#000;}
.panel-alt .img-thumbnail{
	background-color:#FFF;
	border:1px solid #9f9f9f;
}
.panel-alt .text-info{
	color:#BA0101;
	font-weight:700;
}
.panel-alt dd{
	font-style:italic;
	margin:0 0 10px 15px;
}
.image-wrapper{
	border:1px solid rgba(0, 0, 0, 0.04);
	border-radius:4px;
	height:100%;
	overflow:hidden;
  position:relative;
	text-align:center;
  width:100%;   
}
.image-overlay-content{
  height:100%;
	left:0;
	overflow:hidden;
  position:absolute;
  top:0;
	width:100%;
}
.overlay-fade-in p{
	color:#f4f4f4;
  font-size:28px;
  letter-spacing:0.15em;
  opacity:0;
  transition:all 0.2s linear; 
}
.overlay-fade-in img{transition:all 0.2s linear;}
.overlay-fade-in .image-overlay-content{
	background-color:rgba(0, 0, 0, 0.4);
  opacity:0;
  transition:all 0.4s ease-in-out; 
}
.overlay-fade-in h3{
	background:rgba(0, 0, 0, 0.7);
  color:#f2f2f2;
  font-size:1.8rem;
	opacity:0;
  margin-top:40%;
  transition:all 0.2s ease-in-out;
}
.overlay-fade-in .button{
  background:#FFF;
	border:1px solid #999;
	box-shadow:0 0 1px #000;
  color:#222;
	display:inline-block;
  opacity:0;
	padding:7px 14px;
  position:relative;
	text-decoration:none;
	text-transform:uppercase;
  transition:all 0.2s ease-in-out; 
}
.overlay-fade-in .button:hover{box-shadow:0 0 5px #000;}
.overlay-fade-in:hover img{transform:scale(1.2);}
.overlay-fade-in:hover .image-overlay-content{opacity:1;}
.overlay-fade-in:hover h3, .overlay-fade-in p, .overlay-fade-in .button{opacity:1;}
.overlay-fade-in:hover p{transition-delay:0.1s;}
.overlay-fade-in:hover .button{transition-delay:0.2s;}
.text-cm.lead{
	color:#9C0101;
	margin-bottom:0;
}
/*--------------------------------------------------3D-------------------------------------------------------*/
#wr360trailerviewer{margin-bottom:15px;}
#wr360PlayerId20{background-color:#D9DBD8;}
.dropdown .fa.circle-white{color: #fff;}
.dropdown .fa.circle-black{color: #000;}
.dropdown .fa.circle-red{color: #ff0000;}
.model-selector .dropdown .fa:hover{color: #ccc;}
.model-selector .dropdown{
	padding:5px; 
	background: rgba(51, 51, 51, 0.7); 
	width:113px;
}
.hotspot{
	background:rgba(0,0,0,0.7); 
	border:4px solid #fff; 
	border-radius:0; 
	color:#fff; 
	width:320px; 
	height:auto;
}
.hotspot-title{
	border-bottom:4px solid #fff;
	color:#fff;  
	font-family:"Oswald",Helvetica,Arial,sans-serif;
	font-size:30px; 
	font-weight:bold; 
	margin:15px;
}
.hotspot-text{
	color:#fff; 
	font-family:"Roboto",Helvetica,Arial,sans-serif; 
	font-size:14px;
	margin:20px;
}
.hotspot-part{
	background:url(images/hotspot-bg.jpg);
	border:4px solid #fff; 
	margin:10px; 
}
.dropdown .fa.fa-square.fa-stack-2x{color: rgba(204, 204, 204, 0.3);}
.dropdown .fa-2x{
	font-size:15px; 
	margin:10px 0; 
}
/*--------------------------------------------------LIVECHAT-------------------------------------------------*/
.livechat{
	background:#EBEBEB;
	background:-moz-linear-gradient(top, #EBEBEB 0%, #676767 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#EBEBEB), color-stop(100%,#676767));
	background:-webkit-linear-gradient(top, #EBEBEB 0%,#676767 100%);
	background:-o-linear-gradient(top, #EBEBEB 0%,#676767 100%);
	background:-ms-linear-gradient(top, #EBEBEB 0%,#676767 100%);
	background:linear-gradient(to bottom, #EBEBEB 0%,#676767 100%);
	bottom:0;
	color:#000;
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#EBEBEB', endColorstr='#676767',GradientType=0 );
	font-size:18px;
	line-height:1.25;
	padding:10px 20px;
	position:fixed;
	right:6em;
	width:200px;
	z-index:1000;
}
.livechat:hover{
	background:#676767;
	background:-moz-linear-gradient(top, #676767 0%, #D1D1D1 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#676767), color-stop(100%,#D1D1D1));
	background:-webkit-linear-gradient(top, #676767 0%,#D1D1D1 100%);
	background:-o-linear-gradient(top, #676767 0%,#D1D1D1 100%);
	background:-ms-linear-gradient(top, #676767 0%,#D1D1D1 100%);
	background:linear-gradient(to bottom, #676767 0%,#D1D1D1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#676767', endColorstr='#D1D1D1',GradientType=0 );
}
.livechat a{color:#000;}
.livechat a:hover,
.livechat a:focus{
	color:#000;
	text-decoration:none;
}
/*--------------------------------------------------LOGIN PAGE-----------------------------------------------*/
#theme-my-login .input,
#theme-my-login #wp-submit{color:#000;}
/*--------------------------------------------------PRINT----------------------------------------------------*/
@media print{
	nav,
	footer,
	video,
	audio,
	object,
	embed,
	aside,
	.carousel,
	#myModal,
	.nav,
	img{display:none;}
	@page{margin:0.8cm;}
	body{
		background:#FFF;
		color:#000;
		font:12pt "Georgia", Times New Roman, Times, serif;
		line-height: 1.3;
	}
	*{
		background:transparent!important;
		color:#000!important; /* Black prints faster: h5bp.com/s */
		box-shadow:none!important;
		border:none!important;
		float:none!important;
		text-shadow:none!important;
		font-family:"Georgia", Times New Roman, Times, serif!important;
		height:auto!important;
		margin:0!important;
		padding:0!important;
		text-align:left!important;
		text-indent:0!important;
		width:auto!important;
	}
	.container{
		width:100%; 
		margin:0; 
		float:none;
	}
	h1, h2, h3, h4, h5, h6{font-family:"Georgia", Times New Roman, Times, serif;}
	header h1 a{font-size:30pt;}
	header:after{content:"www.CMTruckBeds.com";}
	header{height:auto;}
	h1{font-size:24pt;}
	h2{
		font-size:14pt;
		margin-top:25px;
	}
	aside h2{font-size:18pt;}
	a{
		color:#000;
		font-weight:bold;
	}
}
/*--------------------------------------------------PHONES---------------------------------------------------*/
@media(max-width:767px){
	.bt .dropdown-menu>li>a{padding:5px 20px;}
	#mainNav{width:400px;}
	.connectbox{
		float:none;
		text-align:center;
	}
	.connectbox .menu-social-container{margin:10px 0 0;}
	.contact{font-size:20px;}
	.featuredButtons{
		margin-top:15px;
		padding:0;
	}
	.featuredButtons .button{
		margin-bottom:5px;
<<<<<<< HEAD
		min-height:inherit;
=======
>>>>>>> origin/HEAD
		padding:10px;
	}
	.truckslider{
		background:#000;
		background-image:none;
		margin-top:20px;	
	}
	.truckslider .truck{
		background: #000000;
		background: -moz-linear-gradient(top, #000000 0%, #000000 32%, #FFFFFF 32%, #FFFFFF 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(32%,#000000), color-stop(32%,#FFFFFF), color-stop(100%,#FFFFFF));
		background: -webkit-linear-gradient(top, #000000 0%,#000000 32%,#5b0101 32%,#FFFFFF 100%);
		background: -o-linear-gradient(top, #000000 0%,#000000 32%,#FFFFFF 32%,#FFFFFF 100%);
		background: -ms-linear-gradient(top, #000000 0%,#000000 32%,#FFFFFF 32%,#FFFFFF 100%);
		background: linear-gradient(to bottom, #000000 0%,#000000 32%,#FFFFFF 32%,#FFFFFF 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#FFFFFF',GradientType=0 );
		padding:2px;
	}
	.home .content h1{margin-top:20px;}
	.home .lead{margin-top:15px;}
	#trailer .caption a{font-size:14px;}
	.twitter a .fa-stack,
	.google a .fa-stack,
	.facebook a .fa-stack,
	.youtube a .fa-stack{font-size:2em;}
	.connectbox .youtube a .fa-square{color:#b31217;}
	.connectbox .facebook a .fa-square{color:#3e579c;}
	.connectbox .twitter a .fa-square{color:#479CD8;}
	.connectbox .google a .fa-square{color:#C63B2B;}
	.bt .navbar-brand{height:90px;}
	.navbg{
		background:#000;
		margin-bottom:20px;
	}
	.navbar-default.bt{
		border:none;
		box-shadow:none;
		margin-bottom:0;
	}
	.buttons{background:none;}
	#trailer .standard{margin:0 0 10px;}
	.featuredButtons a{
		bottom:auto;
		position:relative;
		width:auto;
	}
	.bottomimg,
	.topimg{margin:5px auto;}
	.menu-social-container .nolink{display:block;}
	.connectboxhome .nolink,
	.connectbox .nolink{display:none;}
	.livechat{
		right:2em;
		width:60px;
	}
	.rev{display:none;}
	.cm .featuredButtons{
		position:relative;
		top:0;
	}
	.overlay-fade-in .button,
	.overlay-fade-in .image-overlay-content,
	.overlay-fade-in h3, 
	.overlay-fade-in p, 
	.overlay-fade-in .button{display:none;}
	.image-wrapper{border:none;}
	.infoBox{
		margin-bottom:10px;
		padding:15px;
	}
	.bt .dropdown-menu>li>a{padding:5px 20px;}
}
/*--------------------------------------------------TABLETS--------------------------------------------------*/
@media(min-width:768px) and (max-width:991px){
	.connectbox{padding:15px 10px;}
	.connectbox .menu-social-container{margin:-25px 0 0 355px;}
	.container.bt .featuredButtons{margin-top:0;}
	.featuredButtons{padding:0;}
<<<<<<< HEAD
	.featuredButtons .button{
		padding:10px;
		min-height:220px;
	}
=======
	.featuredButtons .button{padding:10px;}
>>>>>>> origin/HEAD
	#trailer{
		margin-top:15px;
		padding:0 30px;
	}
	#trailer .caption a{font-size:30px;}
	.bt .navbar-brand{height:90px;}
	.navbg{background:#000;}
	.navbar-default.bt{
		border:none;
		box-shadow:none;
		margin-bottom:0;
	}
	.home .navbar-default.bt{margin-bottom:20px;}
	.top-text{margin-top:80px;}
	.bottomimg{float:right;}
	.topimg{float:left;}
	.singletruckbed{
		background: #000000;
		background: -moz-linear-gradient(top, #000000 0%, #000000 34%, #EBEBEB 34%, #676767 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(34%,#000000), color-stop(34%,#EBEBEB), color-stop(100%,#676767));
		background: -webkit-linear-gradient(top, #000000 0%,#000000 34%,#EBEBEB 34%,#676767 100%);
		background: -o-linear-gradient(top, #000000 0%,#000000 34%,#EBEBEB 34%,#676767 100%);
		background: -ms-linear-gradient(top, #000000 0%,#000000 34%,#EBEBEB 34%,#676767 100%);
		background: linear-gradient(to bottom, #000000 0%,#000000 34%,#EBEBEB 34%,#676767 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#EBEBEB',GradientType=0 );
		min-height:420px;
		padding:5px 10px;
	}
	.rev{display:none;}
	.cm .featuredButtons{
		position:relative;
		top:0;
	}
	.truckslider{margin-top:20px;}
	.overlay-fade-in .button{box-shadow:0 0 5px #000;}
	.overlay-fade-in img{transform:scale(1.2);}
	.overlay-fade-in .image-overlay-content{opacity:1;}
	.overlay-fade-in h3, 
	.overlay-fade-in p, 
	.overlay-fade-in .button{opacity:1;}
	.overlay-fade-in p{transition-delay:0.1s;}
	.overlay-fade-in .button{transition-delay:0.2s;}
	.infoBox{min-height:335px;}
	.bt .dropdown-menu>li>a{padding:5px 20px;}
}
/*--------------------------------------------------IPAD LANDSCAPE-------------------------------------------*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
<<<<<<< HEAD
=======
	.featuredButtons .button{padding:10px 10px 15px;}
>>>>>>> origin/HEAD
  .overlay-fade-in .button{box-shadow:0 0 5px #000;}
	.overlay-fade-in img{transform:scale(1.2);}
	.overlay-fade-in .image-overlay-content{opacity:1;}
	.overlay-fade-in h3, 
	.overlay-fade-in p, 
	.overlay-fade-in .button{opacity:1;}
	.overlay-fade-in p{transition-delay:0.1s;}
	.overlay-fade-in .button{transition-delay:0.2s;}
	.infoBox{min-height:335px;}
	.bt .dropdown-menu>li>a{padding:5px 20px;}
	.overlay-fade-in h3{font-size:1.5rem;}
	/*.home #become .btn{margin-top:5px;}*/
	.home #brochure .btn{margin-top:10px;}
	.buttons #become .btn{margin-top:20px;}
	.buttons #brochure .btn{margin-top:30px;}
}
/*--------------------------------------------------IPAD PORTRAIT--------------------------------------------*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
		.infoBox{min-height:440px;}
<<<<<<< HEAD
=======
		.featuredButtons .button{padding:10px 10px 20px;}
>>>>>>> origin/HEAD
}
/*--------------------------------------------------DESKTOP--------------------------------------------------*/
@media(min-width:992px){
	#mainNav{width:960px;}
	.featuredButtons{padding:0;}
	.connectbox .connect{margin-left:20px;}
	.navbar.bt .navbar-collapse{text-align:center;}
	.cm .nav > li > a, 
	.bt .nav > li > a{
		font-size:16px;
		padding-left:11px;
		padding-right:11px;
	}
	.featuredButtons .button{padding:15px 12px;}
	#trailer{padding:0 50px;}
	.connectbox .menu-social-container{margin:-25px 0 0 345px;}
	.bt .navbar-brand{
		height:40px;
		padding:22px 10px;
		position:relative;
		z-index:20;
	}
	.navbar-default.bt{
		background-image:none;
		background-color:transparent;
		border:none;
		margin-bottom:0;
	}
	.bt .navbar-collapse{
		padding-left:0;
		padding-right:0;
	}
	.bt .nav > li > a{
		font-size:15px;
		padding-left:10px;
		padding-right:10px;
	}
	.bottomimg{float:right;}
	.topimg{float:left;}
	.singletruckbed{min-height:440px;}
<<<<<<< HEAD
	.cm .featuredButtons{top:-100px;}
=======
	.cm .featuredButtons{top:-80px;}
>>>>>>> origin/HEAD
}
/*--------------------------------------------------LARGE DESKTOP--------------------------------------------*/
@media(min-width:1200px){
	#mainNav{width:1160px;}
	.cm .nav > li > a,
	.bt .nav > li > a{
		font-size:18px;
		padding-left:15px;
		padding-right:15px;
	}
	.featuredButtons .button{padding:25px 15px;}
	.bt .navbar-brand{
		height:40px;
		padding:22px 10px;
		position:relative;
		z-index:20;
	}
	.navbar-default.bt{
		background-image:none;
		background-color:transparent;
		border:none;
		margin-bottom:0;
	}
	.bt .navbar-nav{float:right;}
	.bottomimg{float:right;}
	.topimg{float:left;}
	.singletruckbed{min-height:480px;}
}