<div id="accordion" class="panel-group">
  <div class="panel panel-alt">
    <div id="headingOne" class="panel-heading" href="#collapseOne" data-toggle="collapse" data-parent="#accordion">
      <h4 class="panel-title uppercase"><a>Specs and Features <i class="pull-right fa fa-angle-down"></i></a></h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <dl>              
              <dt>2 – LED recessed trail, brake and back up lights mounted in headache rack</dt>
              <dd>When you are backing up or hitting those brakes along the road, our LED lights will make your truck bed stand out more and brighter! Our LED lights also use less power than conventional incandescent lights.</dd>
              
              <dt>Integrated tube headache rack </dt>
              <dd>Our headache racks are designed with the best and strongest materials to keep you safe when the unexpected happens.</dd>
              
              <dt>Super Durable High-Gloss Powdercoat Finish </dt>
              <dd>CM Truck Beds coats our products with powder, while many other companies use paint. Our powdercoat finish covers every crevice, under every edge, and with a protection to maintain a superior finish and shine for many years!</dd>
              
              <dt>6” Steel Channel Frame Rails </dt>
              <dd>Our structural channel frame rails are stronger, more durable, and prevent any rusting from the interior of the tube.</dd>
              
              <dt>26,000 lb. rated B&amp;W gooseneck hitch with 7 way electrical plug </dt>
              <dd>This is a best in class, independently tested gooseneck hitch that will remain durable throughout your hauls, no matter what they may be. It also contains a 7 way electrical plug to give you ample choices for your power-driven needs.</dd>
              
              <dt>1/8” Steel Tread Plate Deck </dt>
              <dd>This strong and long-lasting deck is designed for heavy duty work, while other competitors use 13 gauge decks.</dd>
              
              <dt>Schedule 80 Gin Poles </dt>
              <dd>These strong and durable gin poles will not only remain strong through all your pipelining hauls, but provide a long-lasting relationship throughout the years.</dd>
              
            </dl>
          </div>
          <div class="col-sm-6">
          	<dl>
            
            	<dt>14,500 lb. rated B&amp;W bumper pull hitch </dt>
              <dd>CM’s independently rated bumper pull hitch gives you a best in class towing capacity which is integrated into the entire frame.</dd>
              
              <dt>Modular Sealed Wiring Harness</dt>
              <dd>Our wiring harness are designed to withstand the light or harsh conditions they are placed under. Our Modular Sealed Wiring Harness is designed to reduce corrosion, pulling apart, or deterioration.</dd>             
                            
              <dt>7 way round and 5 way flat electrical plug standard on rear tailboard </dt>
              <dd>This standard feature allows you to hook on to any trailer and provide quality results.</dd>
              
              <dt>LED DOT required lighting (clearance and marker lights)</dt>
              <dd>Which means our lights are brighter, and use less power than conventional incandescent lights.</dd>
              
          		<dt>LED Stop, turn, tail, back up, and tag lights in skirt</dt>
              <dd>These CM lights are brighter, last longer, and use less power than conventional incandescent lights. This results in your stops, turns, tag lights and more being easily seen and recognized..</dd>
              
              <dt>3” Steel roll-formed 3/16” channel cross members on 12” centers</dt>
              <dd>These are the toughest most durable subframe on work trucks.</dd>
              
            </dl>
            <a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2015/09/2015CMTruckBedsWeb.pdf" class="btn btn-block btn-info btn-lg bt" target="_blank"><i class="fa fa-download"></i> Download the Brochure</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-alt">
    <div id="headingTwo" class="panel-heading" href="#collapseTwo" data-toggle="collapse" data-parent="#accordion">
      <h4 class="panel-title uppercase"><a class="collapsed"> Available Options <i class="pull-right fa fa-angle-down"></i></a></h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
      	<div class="row">
        	<div class="col-sm-4">
            <div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/gator-hyde-small.jpg" class="img-responsive img-thumbnail" alt="Gator Hyde on Deck">
              <div class="image-overlay-content">
              	<h3 class="uppercase">Gator Hyde on Deck</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/gator-hyde-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">Gator Hyde on Deck</h5>
            <p>This CM available option provides maximum protection for your deck on your truck bed model. Our gator hyde on deck also protects against spills from chemicals or damage from equipment.</p>
          </div>
          <hr class="visible-xs-block">
          <div class="col-sm-4">
          	<div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/316-deck-small.jpg" class="img-responsive img-thumbnail" alt="3/16 Deck">
              <div class="image-overlay-content">
              	<h3 class="uppercase">3/16" Deck</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/316-deck-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">3/16" Deck</h5>
            <p>CM's best in class 3/16" deck is a heavier duty deck that allows users to haul more weight. Providing better weight capacity, this available option has the best quality results for your heavy-duty hauls.</p>
          </div>
          <hr class="visible-xs-block">
          <div class="col-sm-4">
          	<div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/cargo-light-small.jpg" class="img-responsive img-thumbnail" alt="Cargo Light">
              <div class="image-overlay-content">
              	<h3 class="uppercase">Cargo Light</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/cargo-light-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">Cargo Light</h5>
            <p>This option provides lighting the truck bed, so users can see their tools and equipment on the deck. When your oilfield or construction job runs long into the night, trust in CM Truck Beds.</p>
          </div>
        </div><!--row-->
        <hr>
        <div class="row">
        	<div class="col-sm-4 col-sm-offset-2">
          	<div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/gin-pole-small.jpg" class="img-responsive img-thumbnail" alt="Gin Pole Rack">
              <div class="image-overlay-content">
              	<h3 class="uppercase">Gin Pole Rack</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/gin-pole-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">Gin Pole Rack</h5>
            <p>Our gin pole rack gives users the option to travel with their gin poles. This option also gives customers the beauty of keeping their gin poles assembled no matter where they travel to.</p>
          </div>
          <hr class="visible-xs-block">
          <div class="col-sm-4">
          	<div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/chain-holder-small.jpg" class="img-responsive img-thumbnail" alt="Chain Holders">
              <div class="image-overlay-content">
              	<h3 class="uppercase">Chain Holders</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/chain-holder-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">Chain Holders</h5>
            <p>CM Truck Beds chain holders allows customers to store their chains without putting them in a tool box every time. This will add convenience and less-hassle throughout your hauling travels and jobs.</p>
          </div>
        </div><!--row-->
      </div>
    </div>
  </div>
</div>