<div id="accordion" class="panel-group">
  <div class="panel panel-alt">
    <div id="headingOne" class="panel-heading" href="#collapseOne" data-toggle="collapse" data-parent="#accordion">
      <h4 class="panel-title uppercase"><a>Specs and Features <i class="pull-right fa fa-angle-down"></i></a></h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <dl>              
              <dt>Welded bulkhead (41” off deck) with plasma cut easy view window grill</dt>
              <dd>Stronger, more durable and integrated into the bed.</dd>
              
              <dt>Heavy duty welded bulkhead</dt>
              <dd>Provides extra strength and security. It has less flexibility in the deck, so your hauls can become more secure.</dd>
              
              <dt>4” structural steel channel frame rails</dt>
              <dd>Our 4" structural channel frame rails are stronger, more durable, and prevent any rusting from the interior of the tube.</dd>
              
              <dt>Rub rail with stake pockets</dt>
              <dd>Provides your straps and gives you multiple tie down points throughout your hauling jobs.</dd>
              
              <dt>Stake pockets with 3” x 3/8” rub rail </dt>
              <dd>Provides your straps and gives you multiple tie down points throughout your hauling jobs.</dd>
              
              <dt>1/8” steel tread plate deck</dt>
              <dd>This strong and long-lasting deck is designed for heavy duty work, while other competitors use 13 gauge decks.</dd>
              
              <dt>1/8” steel formed sides and rear</dt>
              <dd>CM provides you with a stronger, more durable, and thicker formed sides and rear that are better than the rest.</dd>
              
            </dl>
          </div>
          <div class="col-sm-6">
          	<dl>              
              <dt>Modular sealed wiring harness</dt>
              <dd>Our wiring harness are designed to withstand the light or harsh conditions they are placed under. Our Modular Sealed Wiring Harness is designed to reduce corrosion, pulling apart, or deterioration</dd>
              
              <dt>3” steel roll-formed 3/16” channel cross members on 12” centers</dt>
              <dd>These are the toughest most durable subframe on work trucks.</dd>
              
              <dt>LED Recessed rubber mounted clearance lights</dt>
              <dd>Meaning CM’s lights are brighter, and use less power than conventional incandescent lights, that way your rubber mounted clearance lights will be easily seen and recognized.</dd>
              
              <dt>LED DOT required lighting (clearance and marker lights)</dt>
              <dd>When you are backing up, turning, or hitting those brakes along the road, our LED lights will make your truck bed stand out more and brighter! Our LED lights also use less power than conventional incandescent lights.</dd>
              
          		<dt>Tex Armor Epoxy Powder primer with super durable powdercoat</dt>
              <dd>More durable, corrosion resistant, and provides a protective shell.</dd>
              
            </dl>
            <a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2015/09/2015CMTruckBedsWeb.pdf" class="btn btn-block btn-info btn-lg bt" target="_blank"><i class="fa fa-download"></i> Download the Brochure</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-alt">
    <div id="headingTwo" class="panel-heading" href="#collapseTwo" data-toggle="collapse" data-parent="#accordion">
      <h4 class="panel-title uppercase"><a class="collapsed"> Available Options <i class="pull-right fa fa-angle-down"></i></a></h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
      	<div class="row">
        	<div class="col-sm-4">
            <div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/gator-hyde-small.jpg" class="img-responsive img-thumbnail" alt="Gator Hyde on Deck">
              <div class="image-overlay-content">
              	<h3 class="uppercase">Gator Hyde on Deck</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/gator-hyde-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">Gator Hyde on Deck</h5>
            <p>This CM available option provides maximum protection for your deck on your truck bed model. Our gator hyde on deck also protects against spills from chemicals or damage from equipment.</p>
          </div>
          <hr class="visible-xs-block">
          <div class="col-sm-4">
          	<div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/316-deck-small.jpg" class="img-responsive img-thumbnail" alt="3/16 Deck">
              <div class="image-overlay-content">
              	<h3 class="uppercase">3/16" Deck</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/316-deck-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">3/16" Deck</h5>
            <p>CM’s best in class 3/16” deck is a heavier duty deck that allows users to haul more weight. Providing better weight capacity, this available option has the best quality results for your heavy-duty hauls.</p>
          </div>
          <hr class="visible-xs-block">
          <div class="col-sm-4">
          	<div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/cargo-light-small.jpg" class="img-responsive img-thumbnail" alt="Cargo Light">
              <div class="image-overlay-content">
              	<h3 class="uppercase">Cargo Light</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/cargo-light-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">Cargo Light</h5>
            <p>This option provides lighting the truck bed, so users can see their tools and equipment on the deck. When your oilfield or construction job runs long into the night, trust in CM Truck Beds.</p>
          </div>
        </div><!--row-->
        <hr>
        <div class="row">
        	<div class="col-sm-4 col-sm-offset-2">
          	<div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/stake-sides-small.jpg" class="img-responsive img-thumbnail" alt="Stake Sides">
              <div class="image-overlay-content">
              	<h3 class="uppercase">Stake Sides</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/stake-sides-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">Stake Sides</h5>
            <p>Our stake side option give users the security, for their cargo and equipment that they need. CM’s stake sides keeps cargo and equipment from sliding off the deck. </p>
          </div>
          <hr class="visible-xs-block">
          <div class="col-sm-4">
          	<div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/underbody-toolbox-small.jpg" class="img-responsive img-thumbnail" alt="Underbody Toolbox">
              <div class="image-overlay-content">
              	<h3 class="uppercase">Front Underbody Toolbox</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/underbody-toolbox-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">Front Underbody Toolbox</h5>
            <p>CM offers a durable and quality made front underbody toolbox to help along with all your hauling needs. This option offers a sense of storage and security when you're on the road with your CM Truck Bed.</p>
          </div>
        </div><!--row-->
      </div>
    </div>
  </div>
</div>