<div id="accordion" class="panel-group">
  <div class="panel panel-alt">
    <div id="headingOne" class="panel-heading" href="#collapseOne" data-toggle="collapse" data-parent="#accordion">
      <h4 class="panel-title uppercase"><a>Specs and Features <i class="pull-right fa fa-angle-down"></i></a></h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <dl>
            	<dt>2 – LED recessed tail, brake and back up lights mounted in headache rack </dt>
              <dd>Meaning CM's lights are brighter, and use less power than conventional incandescent lights, that way your stops, turns, tag lights and more will be easily seen and recognized.</dd>
              <dt>Integrated tube headache rack</dt>
              <dd>Our headache racks are designed with the best and strongest materials to keep you safe when the unexpected happens.</dd>
              <dt>26,000 lb. rated B&amp;W gooseneck hitch with 7 way electrical plug</dt>
              <dd>This is a best in class, independently tested gooseneck hitch that will remain durable throughout your hauls, no matter what they may be. It also contains a 7 way electrical plug to give you ample choices for your power-driven needs.</dd>
              <dt>4" steel channel frame rails</dt>
              <dd>Our 4" structural channel frame rails are stronger, more durable, and prevent any rusting from the interior of the tube.</dd>
              <dt>3/8" side rub rails with stake pockets </dt>
              <dd>Provides your straps and gives you multiple tie down points throughout your hauling jobs.</dd>
              <dt>1/8" steel tread plate deck</dt>
              <dd>This strong and long-lasting deck is designed for heavy duty work, while other competitors use 13 gauge decks.</dd>
              <dt>Modular sealed wiring harness </dt>
              <dd>Our wiring harness are designed to withstand the light or harsh conditions they are placed under. Our Modular Sealed Wiring Harness is designed to reduce corrosion, pulling apart, or deterioration.</dd>
              <dt>7 way round and 5 way flat electrical plug standard on rear tailboard</dt>
              <dd>This standard feature allows you to hook on to any trailer and provide quality results.</dd>
            </dl>
          </div>
          <div class="col-sm-6">
          	<dl>
              <dt>14,500 lb. rated B&amp;W bumper pull hitch </dt>
              <dd>CM's independently rated bumper pull hitch gives you a best in class towing capacity which is integrated into the entire frame.</dd>
              <dt>4" structural steel longsills </dt>
              <dd>Our structural 4" channel frame rails are stronger, more durable, and prevent any rusting from the interior of the tube.</dd>
              <dt>4 – lockable flush-mounted tool boxes with black T-Handle compression latch </dt>
              <dd>Our recessed tool boxes provide plenty of storage room for all your hauls. They also provide top-notch, strong security with our chrome T-Handle compression latch.</dd>
              <dt>Angled Fuel Fill</dt>
              <dd>Provide a shiner, and better looking feature to your work truck. As well as a no-corrosion zone throughout your in-and-out hauls.</dd>
          		<dt>Tex Armor Epoxy Primer Powder with super durable powder coat finish</dt>
              <dd>More durable, corrosion resistant, and provides a protective shell.</dd>
            </dl>
            <a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2015/09/2015CMTruckBedsWeb.pdf" class="btn btn-block btn-info btn-lg bt" target="_blank"><i class="fa fa-download"></i> Download the Brochure</a>
            <a href="http://cmtruckbeds.com/cm2016/truck-beds/sk-al-truck-bed/" class="btn btn-block btn-info btn-lg bt"><i class="fa fa-exchange"></i> View the Aluminum Model</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-alt">
    <div id="headingTwo" class="panel-heading" href="#collapseTwo" data-toggle="collapse" data-parent="#accordion">
      <h4 class="panel-title uppercase"><a class="collapsed"> Available Options <i class="pull-right fa fa-angle-down"></i></a></h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
      	<div class="row">
        	<div class="col-sm-4">
            <div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/gator-hyde-small.jpg" class="img-responsive img-thumbnail" alt="Gator Hyde on Deck">
              <div class="image-overlay-content">
              	<h3 class="uppercase">Gator Hyde on Deck</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/gator-hyde-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">Gator Hyde on Deck</h5>
            <p>This CM available option provides maximum protection for your deck on your truck bed model. Our gator hyde on deck also protects against spills from chemicals or damage from equipment.</p>
          </div>
          <hr class="visible-xs-block">
          <div class="col-sm-4">
          	<div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/316-deck-small.jpg" class="img-responsive img-thumbnail" alt="3/16 Deck">
              <div class="image-overlay-content">
              	<h3 class="uppercase">3/16" Deck</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/316-deck-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">3/16" Deck</h5>
            <p>CM’s best in class 3/16” deck is a heavier duty deck that allows users to haul more weight. Providing better weight capacity, this available option has the best quality results for your heavy-duty hauls.</p>
          </div>
          <hr class="visible-xs-block">
          <div class="col-sm-4">
          	<div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/cargo-light-small.jpg" class="img-responsive img-thumbnail" alt="Cargo Light">
              <div class="image-overlay-content">
              	<h3 class="uppercase">Cargo Light</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/cargo-light-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">Cargo Light</h5>
            <p>This option provides lighting the truck bed, so users can see their tools and equipment on the deck. When your oilfield or construction job runs long into the night, trust in CM Truck Beds.</p>
          </div>
        </div><!--row-->
        <hr>
        <div class="row">
        	<div class="col-sm-4">
          	<div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/bale-spike-small.jpg" class="img-responsive img-thumbnail" alt="Bail Spike">
              <div class="image-overlay-content">
              	<h3 class="uppercase">Bail Spike</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/bale-spike-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">Bail Spike</h5>
            <p>Our CM Bail Spike allows users to haul bales of hay. This CM Truck Bed options is hydraulically operated and makes hauling hay simpler and quicker.</p>
          </div>
          <hr class="visible-xs-block">
          <div class="col-sm-4">
          	<div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/turnover-ball-small.jpg" class="img-responsive img-thumbnail" alt="30,000LB B&amp;W Turnover ball">
              <div class="image-overlay-content">
              	<h3 class="uppercase">30,000LB B&amp;W Turnover ball</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/turnover-ball-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">30,000LB B&amp;W Turnover ball</h5>
            <p>The CM Truck Bed 30,000lb. B&amp;W Turnover Ball options gives users a heavier weight rating and flexibility to haul 5th wheel. This options also allows user to switch back and forth from gooseneck to 5th wheel.</p>
          </div>
          <hr class="visible-xs-block">
          <div class="col-sm-4">
          	<div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/5thwheel-companion-small.jpg" class="img-responsive img-thumbnail" alt="B&amp;W 5th Wheel Companion">
              <div class="image-overlay-content">
              	<h3 class="uppercase">B&amp;W 5th Wheel Companion</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/5thwheel-companion-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">B&amp;W 5th Wheel Companion</h5>
            <p>This option allows users to haul 5th wheel. The B&amp;W 5th Wheel Companion also allows users to switch back and forth from gooseneck to 5th wheel.</p>
          </div>
        </div><!--row-->
        <hr>
        <div class="row">
        	<div class="col-sm-4">
          	<div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/rear-toolbox-small.jpg" class="img-responsive img-thumbnail" alt="Rear Toolbox">
              <div class="image-overlay-content">
              	<h3 class="uppercase">Rear Toolbox</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/rear-toolbox-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">Rear Toolbox</h5>
            <p>CM offers a durable and quality made rear toolbox to help along with all your hauling needs. This option offers a sense of storage and security when you're on the road with your CM Truck Bed.</p>
          </div>
          <hr class="visible-xs-block">
          <div class="col-sm-4">
          	<div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/gooseneck-trough-small.jpg" class="img-responsive img-thumbnail" alt="Gooseneck Trough">
              <div class="image-overlay-content">
              	<h3 class="uppercase">Gooseneck Trough</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/gooseneck-trough-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">Gooseneck Trough</h5>
            <p>CM Truck Beds gooseneck trough allows users to easily back under a gooseneck without causing minor or serious damage to their truck body.</p>
          </div>
          <hr class="visible-xs-block">
          <div class="col-sm-4">
          	<div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/drop-in-side-rails-small.jpg" class="img-responsive img-thumbnail" alt="Drop in Side Rails">
              <div class="image-overlay-content">
              	<h3 class="uppercase">Drop in Side Rails</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/drop-in-side-rails-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">Drop in Side Rails</h5>
            <p>CM’s drop in side rails give your truck bed protection against any of your cargo or equipment. With this assisting option, your work truck will stay in better condition longer.</p>
          </div>
        </div><!--row-->
        <hr>
        <div class="row">
        	<div class="col-sm-4">
          	<div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/rear-rub-rail-small.jpg" class="img-responsive img-thumbnail" alt="Rear Rub Rail">
              <div class="image-overlay-content">
              	<h3 class="uppercase">Rear Rub Rail</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/rear-rub-rail-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">Rear Rub Rail</h5>
            <p>The CM Truck Bed rear rub rail option provides versatile tiedown points. With more versatile tie points, users will find their cargo and equipment will be safer and secure while hauling.</p>
          </div>
          <hr class="visible-xs-block">
          <div class="col-sm-4">
          	<div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/dovetail-small.jpg" class="img-responsive img-thumbnail" alt="Dovetail">
              <div class="image-overlay-content">
              	<h3 class="uppercase">Dovetail</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/dovetail-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">Dovetail</h5>
            <p>Offers CM Truck Bed customers lower rear deck height.</p>
          </div>
          <hr class="visible-xs-block">
          <div class="col-sm-4">
          	<div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/stainless-fenders-small.jpg" class="img-responsive img-thumbnail" alt="Stainless Fenders">
              <div class="image-overlay-content">
              	<h3 class="uppercase">Stainless Fenders</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/stainless-fenders-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">Stainless Fenders</h5>
            <p>CM Truck Beds stainless fenders are anti-corrosion and better looking than other competitors in the market. When shopping for a truck bed that will outlast and stay attractive the longest, why not turn to CM?</p>
          </div>
        </div><!--row-->
      </div>
    </div>
  </div>
</div>