<div id="accordion" class="panel-group">
  <div class="panel panel-alt">
    <div id="headingOne" class="panel-heading" href="#collapseOne" data-toggle="collapse" data-parent="#accordion">
      <h4 class="panel-title uppercase"><a>Specs and Features <i class="pull-right fa fa-angle-down"></i></a></h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <dl>              
              <dt>2-LED recessed tail brake, clearance and back up lights mounted in headache rack </dt>
              <dd>Meaning CM’s lights are brighter, and use less power than conventional incandescent lights on your headache racks.</dd>
              
              <dt>Steel tubing headache rack </dt>
              <dd>Our steel headache racks are designed with the best and strongest materials to keep you safe when the unexpected happens. With more durability, reliability, and convenience, backing up your vehicle has never been so easy!</dd>
              
              <dt>Tex Armor Epoxy with powder coat finish </dt>
              <dd>More durable, corrosion resistant, and provides a protective shell.</dd>
              
              <dt>4” structural channel frame rails </dt>
              <dd>Our 4" structural channel frame rails are stronger, more durable, and prevent any rusting from the interior of the tube. </dd>
              
              <dt>3/4 length shovel box with top access flip up door </dt>
              <dd>Allows you to store your tools and equipment out of the elements.</dd>
              
              <dt>1/8” steel tread plate deck </dt>
              <dd>This strong and long-lasting deck is designed for heavy duty work, while other competitors use 13 gauge decks.</dd>
              
              <dt>26,000 lb. rated B&amp;W gooseneck hitch with 7 way electrical plug </dt>
              <dd>This is a best in class, independently tested gooseneck hitch that will remain durable throughout your hauls, no matter what they may be. It also contains a 7 way electrical plug to give you ample choices for your power-driven needs.</dd>
              
              <dt>Drop down rear tailgate with center handle </dt>
              <dd>Provide a shiner, brighter, and anti-corrosive element to the worktruck.</dd>
              
               <dt>Opossum Belly Box </dt>
              <dd>This box is a treaded design and conveniently manufactured underneath the flatbed where you can store your shovels and other outdoor tools.</dd>
              
              <dt>7-way round and 5-way flat electrical plug standard on rear tailboard</dt>
              <dd>This standard feature allows you to hook on to any trailer and provide quality results.</dd>
              
            </dl>
          </div>
          <div class="col-sm-6">
          	<dl>              
            
            <dt>Modular sealed wiring harness</dt>
              <dd>Our wiring harness are designed to withstand the light or harsh conditions they are placed under. Our Modular Sealed Wiring Harness is designed to reduce corrosion, pulling apart, or deterioration.</dd>
                            
              <dt>14,500 lb. rated B&amp;W bumper pull hitch</dt>
              <dd>CM's independently rated bumper pull hitch gives you a best in class towing capacity which is integrated into the entire frame.</dd>
              
              <dt>3" steel roll-formed 3/16" channel cross members</dt>
              <dd>These are the toughest most durable subframe on work trucks.</dd>
              
              <dt>LED DOT required lighting (clearance and marker lights) </dt>
              <dd>When you are backing up, turning, or hitting those brakes along the road, our LED lights will make your truck bed stand out more and brighter! Our LED lights also use less power than conventional incandescent lights.</dd>
              
              <dt>LED Stop, turn, tail, back up, and tag lights in skirt </dt>
              <dd>Meaning CM’s lights are brighter, and use less power than conventional incandescent lights, that way your stops, turns, tag lights and more will be easily seen and recognized.</dd>
              
          		<dt>LED working with cast Aluminum housing </dt>
              <dd>With the innovative LED lighting, runs on less power. It is a brighter and safer lighting system. </dd>
              
              <dt>Angled fuel fill </dt>
              <dd>Provide a shiner, and better looking feature to your work truck. As well as a no-corrosion zone throughout your in-and-out hauls.</dd>
              
              <dt>Tall rear box </dt>
              <dd>Provides more storage space and versatility.</dd>
              
              <dt>Recessed tool boxes with locking chrome T-Handle compression latch (2 on each side) </dt>
              <dd>These toolboxes have a better seal as well a compression latch that will ensure there is no moisture inside your boxes.</dd>
              
              <dt>LED Cargo light with toggle switch </dt>
              <dd>Provides lighting to be able to see your tools and equipment on the deck.</dd>
              
             
              
            </dl>
            <a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2015/09/2015CMTruckBedsWeb.pdf" class="btn btn-block btn-info btn-lg bt" target="_blank"><i class="fa fa-download"></i> Download the Brochure</a>
   
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-alt">
    <div id="headingTwo" class="panel-heading" href="#collapseTwo" data-toggle="collapse" data-parent="#accordion">
      <h4 class="panel-title uppercase"><a class="collapsed"> Available Options <i class="pull-right fa fa-angle-down"></i></a></h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
      	<div class="row">
        	<div class="col-sm-4">
            <div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/gator-hyde-small.jpg" class="img-responsive img-thumbnail" alt="Gator Hyde on Deck">
              <div class="image-overlay-content">
              	<h3 class="uppercase">Gator Hyde on Deck</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/gator-hyde-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">Gator Hyde on Deck</h5>
            <p>This CM available option provides maximum protection for your deck on your truck bed model. Our gator hyde on deck also protects against spills from chemicals or damage from equipment.</p>
          </div>
          <hr class="visible-xs-block">
          <div class="col-sm-4">
          	<div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/316-deck-small.jpg" class="img-responsive img-thumbnail" alt="3/16 Deck">
              <div class="image-overlay-content">
              	<h3 class="uppercase">3/16" Deck</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/316-deck-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">3/16" Deck</h5>
            <p>CM’s best in class 3/16” deck is a heavier duty deck that allows users to haul more weight. Providing better weight capacity, this available option has the best quality results for your heavy-duty hauls.</p>
          </div>
          <hr class="visible-xs-block">
          <div class="col-sm-4">
          	<div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/cargo-light-small.jpg" class="img-responsive img-thumbnail" alt="Cargo Light">
              <div class="image-overlay-content">
              	<h3 class="uppercase">Cargo Light</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/cargo-light-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">Cargo Light</h5>
            <p>This option provides lighting the truck bed, so users can see their tools and equipment on the deck. When your oilfield or construction job runs long into the night, trust in CM Truck Beds.</p>
          </div>
        </div><!--row-->
        <hr>
        <div class="row">
        	<div class="col-sm-4">
          	<div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/work-light-small.jpg" class="img-responsive img-thumbnail" alt="Work Lights">
              <div class="image-overlay-content">
              	<h3 class="uppercase">Work Lights</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/work-light-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">Work Lights</h5>
            <p>~~NEEDS CONTENT~~</p>
          </div>
        	<div class="col-sm-4">
          	<div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/bale-spike-small.jpg" class="img-responsive img-thumbnail" alt="Bail Spike">
              <div class="image-overlay-content">
              	<h3 class="uppercase">Bail Spike</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/bale-spike-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">Bail Spike</h5>
            <p>Our CM Bail Spike allows users to haul bales of hay. This CM Truck Bed options is hydraulically operated and makes hauling hay simpler and quicker.</p>
          </div>
          <hr class="visible-xs-block">
          <div class="col-sm-4">
          	<div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/turnover-ball-small.jpg" class="img-responsive img-thumbnail" alt="30,000LB B&amp;W Turnover ball">
              <div class="image-overlay-content">
              	<h3 class="uppercase">30,000LB B&amp;W Turnover ball</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/turnover-ball-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">30,000LB B&amp;W Turnover ball</h5>
            <p>The CM Truck Bed 30,000lb. B&amp;W Turnover Ball options gives users a heavier weight rating and flexibility to haul 5th wheel. This options also allows user to switch back and forth from gooseneck to 5th wheel.</p>
          </div>
          
        </div><!--row-->
        <hr>
        <div class="row">
        	<div class="col-sm-4 col-sm-offset-4">
          	<div class="image-wrapper overlay-fade-in">
              <img src="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/stainless-fenders-small.jpg" class="img-responsive img-thumbnail" alt="Stainless Fenders">
              <div class="image-overlay-content">
              	<h3 class="uppercase">Stainless Fenders</h3>
								<a href="http://cmtruckbeds.com/cm2016/wp-content/uploads/2016/02/stainless-fenders-large.jpg" class="button magnific">View Larger <i class="fa fa-search-plus"></i></a>
              </div>
            </div>
            <h5 class="uppercase">Stainless Fenders</h5>
            <p>CM Truck Beds stainless fenders are anti-corrosion and better looking than other competitors in the market. When shopping for a truck bed that will outlast and stay attractive the longest, why not turn to CM?</p>
          </div>
        </div><!--row-->
      </div>
    </div>
  </div>
</div>