<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-alt">
    <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <h4 class="panel-title">
        <a>
          Warranty Claim Procedures <i class="pull-right fa fa-angle-down"></i>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
      	<div id="claim"></div>
        <p>For CM Truck Beds to be able to honor the trailer warranty the following criteria should be followed.  Warranty work can only be authorized by the corporate offices warranty department.  You must print off the "Warranty Request Form" and mail it to the address provided below.  In order to make a claim under our warranty policy:</p>
				<ul>
    			<li>You must have registered you must complete the warranty registration online, no later than thirty (30) days following the purchase of your CM Truck Bed.  IF THIS WARRANTY IS NOT COMPLETED BY THE THIRTIETH DAY AFTER PURCHASE OF THE TRAUCK BED, ALL EXPRESS WARRANTIES CONTAINED IN THIS LIMITED WARRANTY SHALL BE NULL AND VOID EXCEPT AS PROHIBITED BY LAW.</li>
    			<li>You must be the original owner of the truck bed (Truck bed warranties are non-transferable)</li>
    			<li>Within five (5) days after discovering a problem with your CM Truck Bed, you must carry your truck bed to one of our stores/dealers for inspection.</li>
    			<li>The trailer must have been used and maintained in accordance with good industry practice and the recommendations of CM Truck Beds included in your Owners Safety and Tire Manual.</li>
          <li>Please be sure to read <a href="http://cmtruckbeds.com/cm2016/cm-truck-beds-limited-warranty/">CM Truck Beds Limited Warranty</a> &amp; <a href="http://cmtruckbeds.com/cm2016/required-warranty-claim-procedure/">Warranty Claim Procedure</a> before submitting a claim.</li>
				</ul>
        <p class="text-right"><a href="http://cmtruckbeds.com/cm2016/warranty-claim-form-online/" class="btn btn-primary btn-lg">File Warranty Claim Online</a></p>
      </div>
    </div>
  </div>
  <div class="panel panel-alt">
    <div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      <h4 class="panel-title">
        <a class="collapsed">
          Warranty Contact <i class="pull-right fa fa-angle-down"></i>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <p>If you need to contact Big Tex Trailers Warranty Department, you can contact them several different ways; mail, phone or by submitting the online form below:</p>
				<p><strong>Mail to:</strong><br>
				<p>CM Truck Beds<br>
        Warranty Division<br>
        950 I-30 East<br>
        Mount Pleasant, Texas 75455-9904<br>
        903-575-0300 ext 2360</p>
        <p><strong>Call Warranty Department:</strong><br>
				903-575-0300 ext 2360<br>
        Toll Free 844-233-1728</p>
      </div>
    </div>
  </div>
  <div class="panel panel-alt">
    <div class="panel-heading" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      <h4 class="panel-title">
        <a class="collapsed">
          Submit Your Warranty Questions <i class="pull-right fa fa-angle-down"></i>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Warranty Question Form Here
      </div>
    </div>
  </div>
</div>